
#jsoneditor {
    width: 49.5%;
    height: 90%;
    position: absolute;
    left: 6px;
}

.desContainer {
    border: 1px solid #3883fa;
    overflow-y: scroll;
    width: 49.5%;
    height: 90%;
    position: absolute;
    top: 0px;
    right: 6px;
}

.trStyle{
    width: 50%;
    margin-bottom: 3px;
    margin-left: 3px;
}

.contentText {
    font-family:'dejavu sans mono', 'droid sans mono', consolas, monaco, 'lucida console', 'courier new', courier, monospace, sans-serif;
    font-size: 13px;
    color: cadetblue;
}

.title {
    font-size: 20px;
}

.paddingRL {
    padding-right: 15px;
    padding-left: 15px;
}

#entityTable{
    margin-left: 10px
}

.nextBtn{
    position: absolute;
    bottom: 4%;
    right: 6px;
}

.dialogHeader {
    padding: 5px 5px;
    font-size: 18px;
    color: #245580;
    text-align: center;
    margin-bottom: 20px;
}

dialog {
    width: 600px;
    font-family:sans-serif;
    padding: 5px 10px 20px 20px;
}
