
#jsoneditor {
    width: 49%;
    height: 600px;
}

.desContainer {
    background-color: white;
    border: 1px solid #3883fa;
    overflow: scroll;
    width: 49%;
    height: 600px;
    position: absolute;
    top: 0px;
    right: 8px;
}

.trStyle{
    width: 50%;
    margin-bottom: 3px;
    margin-left: 3px;
}

.contentText {
    font-family:'dejavu sans mono', 'droid sans mono', consolas, monaco, 'lucida console', 'courier new', courier, monospace, sans-serif;
    font-size: 13px;
    color: cadetblue;
}

#entityTable{
    margin-left: 10px
}

.nextBtn{
    position: absolute;
    bottom: 70px;
    right: 10px;
}

.dialogHeader {
    padding: 5px 5px;
    font-size: 18px;
    color: #245580;
    text-align: center;
    margin-bottom: 20px;
}

dialog {
    width: 600px;
    font-family:sans-serif;
    padding: 5px 10px 20px 20px;
}
